body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 650px;
  margin: 0 auto;
  border: 2px solid #9932cc;
}

th {
  font-weight: 900;
  font-size: large;
  background-color: #dda0dd;
}

tbody td {
  border-bottom: 1px solid #9932cc;
}

h1,
h2 {
  text-align: center;
}

h2 {
  color: #74269b;
}

span {
  background-color: #f5f5dc;
}
